@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F6F7F8;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.637); /* Fundo escuro */
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }

  .quadrado {
    width: 500px;  /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    background-color: blue; /* Cor do quadrado */
}
  

